# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/*

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env

# Editor/IDE
.vscode/

# Local .terraform directories
.terraform/

# .tfstate files and backups
*.tfstate
*.tfstate.backup

# Crash log files
crash.log
crash.*.log

# Exclude all .tfvars files, which might contain sensitive data.
# If you manage .tfvars files in VCS, remove this line.
*.tfvars
*.tfvars.json

# Ignore override files as they are usually used for local development
# and not meant to be shared.
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform plan files (if you use the -out flag)
# Example: *tfplan*

# Ignore CLI configuration files
.terraformrc
terraform.rc